.app {
  text-align: left;
  padding: 20px;
}

body: {
  padding: 20px;
}

.component {
  border: 1px solid red;
  padding: 10px;
  margin: 10px;
}

table, td {
  border-collapse: collapse;
  border: 1px solid black;
}
